.boardBox { border-top: 1px solid #d9d9d9; margin-top: 100px; }

.boardBox .require { color: #f00; }

.boardBox .info { padding: 50px 0; }

.boardBox .info p { line-height: 1.5; }

.board { width: 100%; border-top: 1px solid #1dcb5d; }

.board th, .board td { padding: 20px 10px; }

.board th { text-align: left; }

.board th.content { vertical-align: top; }

.board th.even { padding-left: 50px; }

.board input[type="text"], .board textarea { border: none; border-bottom: 1px solid whitesmoke; width: 100%; height: 40px; outline: none; -webkit-transition: 0.25s; transition: 0.25s; }

.board input[type="text"]:focus, .board input[type="text"]:hover, .board textarea:focus, .board textarea:hover { border-bottom-color: #111111; }

.board select { width: calc(40 / 90 * 100%); border: none; border-bottom: 1px solid #d9d9d9; padding: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background: url(../images/common/keyboard_arrow_down_black_24dp.svg) right 10px top 50% no-repeat; }

.board .address .addr01 { width: calc(4 / 9 * 100%); display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 15px; }

.board .address .addr01 button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 2px solid #d9d9d9; border-radius: 100px; color: #111111; padding: 0 20px; white-space: nowrap; margin-left: 15px; }

.board .address .addr01 button span { margin-right: 15px; color: #1dcb5d; }

.board .address .addr02 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.board .address .addr02 .readonly { width: calc(4 / 4.5 * 100% - 2%); margin-right: 4%; }

.board .address .readonly { border: none; background-color: #333; border-radius: 5px; padding: 0 10px; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.board textarea { height: 300px; resize: none; background-color: #f5f5f5; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.board input[type="text"].name { width: 556px; }

.agreeBox { border-top: 1px solid #d9d9d9; margin-top: 50px; padding: 50px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.agreeBox .agree .show { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.agreeBox .agree .show button { margin-left: 20px; padding: 5px 20px; background-color: #111111; border-radius: 100px; color: #fff; }

.agreeBox button[type="submit"] { padding: 20px 40px; background-color: #111111; border-radius: 100px; color: #fff; }

.checkbox { display: -webkit-box; display: -ms-flexbox; display: flex; }

.checkbox input { display: none; }

.checkbox input:checked ~ .label:before { background-color: #1dcb5d; border: none; color: #fff; content: "\2713"; text-shadow: 1px 1px 0px #107234,2px 2px 0px #107234,3px 3px 0px #107234,4px 4px 0px #107234,5px 5px 0px #107234,6px 6px 0px #107234,7px 7px 0px #107234,8px 8px 0px #107234,9px 9px 0px #107234,10px 10px 0px #107234;; }

.checkbox .label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.checkbox .label:before { content: ""; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 20px; height: 20px; overflow: hidden; border: 1px solid #333; border-radius: 3px; margin-right: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.faqBox ul li.on dt .icon:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.faqBox ul li.on dt .icon:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.faqBox ul li dl dt { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #f5f5f5; cursor: pointer; }

.faqBox ul li dl dt:hover .icon:before, .faqBox ul li dl dt:hover .icon:after { background-color: #1dcb5d; }

.faqBox ul li dl dt:hover .category, .faqBox ul li dl dt:hover .subject { color: #1dcb5d; }

.faqBox ul li dl dt .category { width: 150px; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.25s; transition: 0.25s; }

.faqBox ul li dl dt .subject { -webkit-transition: 0.25s; transition: 0.25s; }

.faqBox ul li dl dt .icon { margin-left: auto; width: 100px; height: 100px; position: relative; }

.faqBox ul li dl dt .icon:before { content: ""; display: block; position: absolute; top: 50%; left: 50%; margin-left: -3px; width: 20px; height: 2px; background-color: #000; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition: 0.25s; transition: 0.25s; }

.faqBox ul li dl dt .icon:after { content: ""; display: block; position: absolute; top: 50%; right: 50%; margin-right: -3px; width: 20px; height: 2px; background-color: #000; -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: 0.25s; transition: 0.25s; }

.faqBox ul li dl dd { background-color: #f5f5f5; padding: 50px 50px 50px 150px; line-height: 1.5; display: none; }

.faqBox ul li dl dd p { margin-bottom: 20px; }

.contactBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.contactBox ul li { width: 33.3333%; border: 1px solid #d9d9d9; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px 0px 70px 30px; position: relative; color: #767676; }

.contactBox ul li h2 { font-size: 2.4rem; margin-bottom: 40px; }

.contactBox ul li > span { display: block; width: 40px; height: 2px; background-color: #1dcb5d; margin-bottom: 30px; }

.contactBox ul li a { display: block; font-size: 2.4rem; color: #111111; margin-top: 20px; font-weight: 500; }

.contactBox ul li a span { font-weight: 300; }

.contactBox ul li img { position: absolute; right: 20px; bottom: 50px; }
