#subContentsWrap { margin-top: 160px; padding: 100px 0; }

#subContentsWrap .subContents { margin: 0 auto; width: 1440px; }

#subContentsWrap .subContents .breadCrumb ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#subContentsWrap .subContents .breadCrumb ul li:last-child a { text-decoration: underline; }

#subContentsWrap .subContents .breadCrumb ul li:last-child a:after { display: none; }

#subContentsWrap .subContents .breadCrumb ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.4rem; }

#subContentsWrap .subContents .breadCrumb ul li a:after { font-family: "Material Icons"; content: "\e5cc"; padding: 0 10px; }

#subContentsWrap .subTitle { font-size: 6rem; font-weight: 500; margin: 50px 0; }

#subContentsWrap #lnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#subContentsWrap #lnb ul li { margin-right: 20px; }

#subContentsWrap #lnb ul li.on a { color: #fff; background-color: #1dcb5d; font-weight: 500; }

#subContentsWrap #lnb ul li a { display: block; padding: 20px 40px; -webkit-transition: 0.25s; transition: 0.25s; border-radius: 100px; }

#subContentsWrap #lnb ul li:hover a { background-color: #f5f5f5; }

#subContentsWrap #lnb ul li:hover a:last-child { color: #111111; }
