.container { margin: 0 auto; width: 1440px; }

.container .head { padding-top: 200px; }

.container .head .location { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #d9d9d9; margin-bottom: 20px; }

.container .head .location span, .container .head .location a { font-size: 1.4rem; margin-right: 20px; position: relative; }

.container .head .location span:after, .container .head .location a:after { content: ">"; position: absolute; right: -15px; top: -2px; }

.container .head .location a:nth-of-type(2) { text-decoration: underline; }

.container .head .location a:nth-of-type(2):after { display: none; }

.container .head h2 { font-size: 4.8rem; font-weight: 700; margin-bottom: 30px; }

.container .head .list { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 100px; }

.container .head .list li { padding: 10px 20px; color: #d9d9d9; border-radius: 100px; color: #d9d9d9; -webkit-transition: 0.25s; transition: 0.25s; }

.container .head .list li:last-child { color: #fff; background-color: #1dcb5d; }

.container .head .list li:hover { background-color: #f5f5f5; }

.container .head .list li:hover:last-child { color: #d9d9d9; }

.container .contents { color: #d9d9d9; border-top: 2px solid #000; }

.container .contents .require { color: red; }

.container .contents p { padding: 20px 0; line-height: 2; }

.container .contents table tr { height: 50px; margin-bottom: 30px; }

.container .contents table tr th { text-align: left; }

.container .contents table tr input[type="text"] { border: none; border-bottom: 1px solid #d9d9d9; }

.container .contents .bottom { border-top: 1px solid #d9d9d9; margin-top: 20px; padding-top: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.container .contents .bottom ul li { color: #d9d9d9; line-height: 1.5; }

.container .contents .bottom ul li span { color: #111111; text-decoration: underline; }

.container .contents .bottom .btns button { background-color: #333; padding: 20px 40px; color: #fff; border-radius: 100px; font-weight: 500; font-size: 1.8rem; }
